h3 {
    padding: 0px;
    margin: 1%;
    text-align: center;
    color: white;
    font-family: arial, ui-rounded;
    font-weight: bold;
    font-size: 24px;
}

p {
    padding: 0px;
    margin: 1%;
    text-align: center;
    color: white;
    font-family: arial, ui-rounded;
    font-weight: bold;
    font-size: 16px;
}

//ask for font style and size