<div class="p-col-12 p-lg-12 p-md-12 p-sm-12" style="padding: 0px; display: flex; padding-top: 2%; padding-bottom: 2%;">
    <div class="p-col-12 p-lg-12 p-md-12 p-sm-12" style="padding: 0px; order: 2;">
        <span class="p-input-icon-left" style="float: right; margin-right: 2%; width: 30%;">
            <i class="pi pi-search"></i>
            <input type="text" pInputText placeholder="Search..." style="width: 100%;"/>
        </span>
    </div>
</div>