input {
    color: white;
    background-color: transparent;
    border-radius: 25px;
    border: 2px solid white;
    outline: none;
    font-size: 11px;
}

.pi-search {
    color: white;
    left: 90%;
    font-size: 13px;
    padding-top: 2px;
}

::placeholder {
    color: white;
  }