<div class="p-grid p-col-12" style="padding: 0; background-color: #0a3a50;">
    <searchbar class="p-col-12 p-lg-12 p-md-12 p-sm-12 zero-padding" style="width: 100%;"></searchbar>
    <carousel-display [banners]="homeBanners" class="p-col-12 p-lg-12 zero-padding" style="width: 100%;"></carousel-display>
    <div class="div-bottom-style">
        <div class="best-seller-padding">
            <best-seller [banners]="bestSellers" class="p-col-12 p-lg-12 zero-padding"></best-seller>
        </div>
        <div class="about-us-padding">
            <about-us class="p-col-12 p-lg-12 zero-padding"></about-us>
        </div>
    </div>
</div>