.div-bottom-style {
    padding: 0px;
    margin-left: 3%;
    margin-right: 3%;
    background-color: #234E61;
    width: 100%;
}

.best-seller-padding {
    padding-left: 1%;
    padding-right: 1%;
}

.about-us-padding {
    padding-left: 1%;
    padding-right: 1%;
}