p {
    margin-bottom: 3px;
    color: white;
    font-family: arial, ui-rounded;
    font-weight: bold;
    font-size: 18px
}

a {
    margin: 0px;
    color: white;
    font-family: arial, ui-rounded;
    font-weight: bold;
    font-size: 18px
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}