<div class="p-grid p-col-12" style="padding: 0px; padding-top: 2%;">
    <div class="p-lg-3">
        <p>QUICK LINKS</p>
        <a href="#">About us</a>
        <br>
        <a href="#">On sale</a>
    </div>
    <div class="p-lg-3">
        <p>BEST SELLERS</p>
        <a href="#">Attack on Titan Tee</a>
        <br>
        <a href="#">Haikyu!</a>
    </div>
    <div class="p-lg-2">
        <p>COMMUNITY</p>
        <a href="#">Shopee</a>
        <br>
        <a href="#">Facebook</a>
        <br>
        <a href="#">Instagram</a>
    </div>
    <div class="p-lg-4">
        <a href="#">
            <img src="assets/logo_footer.png" alt="logo" style="width: 100%; float: left; margin: 0px; padding-top: 10px;">
        </a>
    </div>
</div>