<p-carousel
    [value]="banners"
    styleClass="custom-carousel"
    [numVisible]="1"
    [numScroll]="1"
    [autoplayInterval]="3000"
    [circular]="true">
    <ng-template let-product pTemplate="item">
        <div class="product-item zero-padding">
            <div class="product-item-content zero-padding">
                <div class="p-lg-12 zero-padding">
                    <img src="assets/home-carousel/{{product}}"/>
                </div>
            </div>
        </div>
    </ng-template>
</p-carousel>