img {
    width: 100%;
    padding-left: 2%;
    padding-right: 2%;
}

.carousel-indicators li {
    background-color: #999 !important;
    background-color: rgba(70,70,70,.25) !important;
}

.carousel-indicators .active {
    background-color: #444 !important;
}

:host ::ng-deep {
    .p-carousel-prev, .p-carousel-next {
        display: none;
    }
}