
<div class="p-grid p-col-12" style="padding: 0px; background-color: #0a3a50;">
    <searchbar class="p-col-12 p-lg-12 p-md-12 p-sm-12" style="padding: 0px; width: 100%;"></searchbar>
    <div class="p-col-12 p-lg-12 p-md-12 p-sm-12" style="padding: 0px; width: 100%; padding-bottom: 2%;">
        <div class="center">
            <div class="p-grid center">
                <!-- Facebook tag -->
                <div class="p-col-12 p-lg-4 p-md-3 p-sm-3 icon-div" style="padding:0px;">
                    <img src="assets/pesbuk.png" alt="facebook_icon" style=" float: right; max-width: 100%; height: auto;">
                </div>

                <div class="p-col-12 p-lg-8 p-md-9 p-sm-9 button-div">
                    <div class="p-lg-6 p-md-9 p-sm-9 rounded-rectangle" style="padding: 0%;">
                        <p>Facebook</p>
                    </div>
                </div>

                <!-- Instagram tag -->
                <div class="p-col-12 p-lg-4 p-md-3 p-sm-3 icon-div" style="padding:0px;">
                    <img src="assets/pesbuk.png" alt="instagram_icon" style=" float: right; max-width: 100%; height: auto;">
                </div>

                <div class="p-col-12 p-lg-8 p-md-9 p-sm-9 button-div">
                    <div class="p-lg-6 p-md-9 p-sm-9 rounded-rectangle" style="padding: 0%;">
                        <p>Instagram</p>
                    </div>
                </div>

                <!-- Website tag -->
                <div class="p-col-12 p-lg-4 p-md-3 p-sm-3 icon-div" style="padding:0px;">
                    <img src="assets/pesbuk.png" alt="website_icon" style=" float: right; max-width: 100%; height: auto;">
                </div>

                <div class="p-col-12 p-lg-8 p-md-9 p-sm-9 button-div">
                    <div class="p-lg-6 p-md-9 p-sm-9 rounded-rectangle" style="padding: 0%;">
                        <p>AnimeShoppu</p>
                    </div>
                </div>

                <!-- Shopee tag -->
                <div class="p-col-12 p-lg-4 p-md-3 p-sm-3 icon-div" style="padding:0px;">
                    <img src="assets/pesbuk.png" alt="shopee_icon" style=" float: right; max-width: 100%; height: auto;">
                </div>

                <div class="p-col-12 p-lg-8 p-md-9 p-sm-9 button-div">
                    <div class="p-lg-6 p-md-9 p-sm-9 rounded-rectangle" style="padding: 0%;">
                        <p>Shopee</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

