
div.rounded-rectangle {
    border-radius: 50px;
    border: 2px solid #94A9B0;
    text-align: center;
    align-items: center;
    margin-left: 5%;
    margin-top: 3%;
    width: 60%;
}

p {
    font-family: arial, ui-rounded;
    font-weight: bold;
    font-size: 18px
}

div.center
{
    margin-left: 2%;
    margin-right: 2%;
    padding: 0%;
    padding-top: 2%;
    padding-bottom: 3%;
    background-color: #234E61;
}

.button-div {
    color: white;
    padding: 0%;
    padding-top: 2.25%;
}

.icon-div {
    padding-top: 2%;
    margin-top: 2%;
}

img {
    padding-top: 3%;
    width: 100px;
    opacity: 60%;
}

@media (max-width: 624px) {
    .icon-div {
        width: 62.5%;
        padding-top: 2%;
    }
    .button-div {
        width: 140%;
        color: white;
        padding: 0%;
        padding-top: 1%;
    }
}
