p-button {
    width: 20%;
}

.main-div {
    padding: 0px;
    padding-top: 2%;
}

.logo-div {
    padding-left: 0px;
    padding-right: 0px;
}

.buttons-div {
    padding: 0%;
    padding-top: 2.5%;
}

.no-padding {
    padding: 0px;
}

:host ::ng-deep {
    .p-buttonset {
        font-family: arial, ui-rounded;
        font-weight: bold;
        font-size: 15px;
        text-transform: uppercase;
        white-space: break-spaces;
    }
    .p-buttonset .p-button:first-of-type,
    .p-buttonset .p-button:not(:first-of-type):not(:last-of-type),
    .p-buttonset .p-button:last-of-type {
        width: 20%;

    }
    
}