<div class="text-color p-grid p-col-12 main-div">
    <div class="p-lg-4 logo-div">
        <a href="#">
            <img src="assets/logo_header.png" alt="logo" style="width: 65%;">
        </a>
    </div>
    <div class="p-lg-8 buttons-div">
        <p-selectButton
            [options]="options"
            (onOptionClick)="onSelect($event)"
            [(ngModel)]="selectedOption"
            optionLabel="label"
            optionValue="value">
        </p-selectButton>
    </div>
</div>