/* You can add global styles to this file, and also import other style files */
.text-color {
    color: white;
}
.app-design {
    background-color: #031219;
    padding-left: 15%;
    padding-right: 15%;
}

.zero-padding {
    padding: 0px;
}

* {
    -webkit-box-sizing: border-box;
  }