<p-carousel
    [value]="banners"
    styleClass="custom-carousel"
    [numVisible]="3">
    <ng-template pTemplate="header">
        <h3 class="header">BEST SELLERS</h3>
    </ng-template>
        <ng-template let-product pTemplate="item">
            <div class="img-border">
                <div class="product-item zero-padding">
                    <div class="product-item-content zero-padding">
                        <div class="white-border">
                            <img src="assets/best-seller-src/{{product}}"/>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
</p-carousel>