img {
    width: 100%;
    padding: 0px;
    border: 4px solid white;
}

.header {
    margin-bottom: 1%;
    text-align: center;
}

.img-border {
    width: 100%;
    padding: 0px;
    padding-left: 3%;
    padding-right: 3%;
}

:host ::ng-deep {
    .p-carousel-prev, .p-carousel-next {
        display: none;
    }

    .p-carousel-header {
        padding: 0px;
        text-align: center;
        color: white;
        font-family: arial, ui-rounded;
        font-weight: bold;
        font-size: 24px;
    }
}